mat-toolbar.mat-toolbar {
  background-color: #ffc700;
  display: flex;
  justify-content: space-between;
}
span {
  font-size: 14px;
}
mat-select {
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
}
