<div *ngIf="mode">
  <mat-tab-group>
    <mat-tab label="Chart View">
      <app-time-label></app-time-label>

      <div class="chart-wrapper-item">
        <canvas id="chart_item">{{ chart_item }}</canvas>
      </div>
    </mat-tab>
    <mat-tab label="Table View">
      <app-time-label></app-time-label>

      <table matSort (matSortChange)="sortData($event)">
        <tr>
          <th mat-sort-header="itemName">item Name</th>
          <th mat-sort-header="quantity">quantity</th>
          <th mat-sort-header="total_amount">total amount</th>
          <th mat-sort-header="compare_quantity">quantity</th>
          <th mat-sort-header="compare_total_amount">total amount</th>
        </tr>

        <tr *ngFor="let item of sortedlist">
          <td>{{ item.itemName }}</td>
          <td>{{ item.dataSet.quantity }}</td>
          <td>{{ item.dataSet.total_amount }}</td>
          <td>{{ item.dataSet_Compared.quantity }}</td>
          <td>{{ item.dataSet_Compared.total_amount }}</td>
        </tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
<h6 *ngIf="!mode">no data found!</h6>
